body {
  font-size: 16px;
}

.section-header {
  transition: all 0.5s ease;
}

.header__heading-link {
  padding: 0;
}

.header__menu-item, .header__icon, .header__active-menu-item {
  color: #303030;
  transition: all 0.5s ease;
}

.header-index .header__heading-logo-wrapper svg path {
  fill: #F7FBFD;
  transition: all 0.5s ease;
}
.header-index .header__menu-item, .header-index .header__icon, .header-index .header__active-menu-item {
  color: #F7FBFD;
}

.shopify-section-header-sticky {
  background: white;
}
.shopify-section-header-sticky .header__menu-item, .shopify-section-header-sticky .header__icon, .shopify-section-header-sticky .header__active-menu-item {
  color: #303030;
}
.shopify-section-header-sticky .header-index .header__heading-logo-wrapper svg path {
  fill: #303030;
}

.banner {
  margin-top: -84px;
}
.banner .banner__media::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 36%;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 1;
  z-index: 1;
}
.banner .banner__media::after {
  content: "";
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48%;
  opacity: 1;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  rotate: 180deg;
}

.rr-product-banner {
  margin-top: 0;
}
.rr-product-banner .product-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  margin-bottom: 20px;
}
.rr-product-banner .price {
  font-size: 60px;
  font-weight: 400;
  line-height: 75px;
  margin-top: 20px !important;
  margin-bottom: 20px;
}
.rr-product-banner a.seeDetailsBtn {
  height: 65px;
  padding: 17px 30px;
  border-radius: 38px;
  background: #007db6;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #deeef6;
  display: inline-flex;
  text-decoration: none;
}
.rr-product-banner a.seeDetailsBtn:hover {
  text-decoration: none;
}
.rr-product-banner a.seeDetailsBtn .arrow {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.mainCollection {
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  row-gap: 5rem;
}
.mainCollection.grid--3-col-desktop .grid__item {
  width: calc(33.33% - 3.3333333333rem);
  max-width: calc(33.33% - 3.3333333333rem);
}

.card-wrapper:hover .full-unstyled-link {
  text-decoration: none;
}

.card-information > .price {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.card__heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.collectionBar {
  background: linear-gradient(262.49deg, #fbcdc8 24.72%, #c4e1ee 69.03%);
}
.collectionBar .textWithBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 29.688rem;
}
.collectionBar .textWithBtn h3 {
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 4.688rem;
}

.footer {
  background: #FBF486;
  min-height: 738px;
  position: relative;
}
.footer .grid {
  flex-wrap: nowrap;
}
.footer .footer-block {
  max-width: 195px;
}

.arrowBtnWrap {
  background: #4C2522;
  padding: 8px 20px 8px 30px;
  border-radius: 38px;
  font-size: 1.125rem;
  color: #FDE3E0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowBtnWrap a {
  color: #FDE3E0;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.arrowBtnWrap .arrow {
  display: flex;
}
.arrowBtnWrap .arrow svg {
  height: 2.188rem;
}

.newsWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.newsWrap h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.newsWrap .newsletter-form {
  align-items: flex-start;
  margin: 0;
  max-width: unset;
  min-width: 300px;
}

.bannerHeading {
  max-width: 687px;
  font-size: 60px;
  line-height: 75px;
  margin-bottom: 20px;
}

.roundBtn {
  color: #934842;
  background: #FAFAFA;
  border-radius: 50px;
}
.roundBtn a {
  color: #934842;
  font-size: 20px;
  line-height: 1.875rem;
  font-weight: 600;
}
.roundBtn a:not([disabled]):hover::after, .roundBtn a:after {
  --border-offset: none;
  box-shadow: none;
}

.header__icon .icon.account,
.header__icon .icon-search,
.search__button .icon.icon-search {
  height: 36px;
  width: 36px;
}

.scrolled-past-header .header-wrapper {
  border-bottom: 1px solid #ddd;
}
.scrolled-past-header .icon.account path,
.scrolled-past-header .icon-search path,
.scrolled-past-header .icon.icon-search path,
.scrolled-past-header .icon-cart path,
.scrolled-past-header .icon-close path {
  fill: #303030;
  color: #303030;
}

.related-products__heading {
  color: #4C2522;
  font-size: 3.75rem;
  line-height: 4.688rem;
}

.productFeatureWrap .rich-text {
  background: linear-gradient(270deg, #FDE3E0 0%, #FEFCE1 100%);
}
.productFeatureWrap .rich-text .rich-text__blocks {
  max-width: 100%;
}
.productFeatureWrap .rich-text h2.rich-text__heading {
  color: #934842;
  font-size: 3.75rem;
  line-height: 4.688rem;
}/*# sourceMappingURL=custom.css.map */